ctranslate2
sentencepiece
huggingface_hub
fastapi
uvicorn[standard]
python-dotenv
sacrebleu
datasets
transformers
peft
accelerate
evaluate
numpy
scipy
python-multipart
huggingface_hub
pandas
matplotlib
